<style>
text {
    font-family: sans-serif;
}
text#popup_label {
    fill: #ff4d7f;
    font-size: 12px;
    font-weight: bold;
}

text.edge_label {
    fill: #1680c4;
    font-size: 10px;
}

rect.edge_label_bg {
    fill: white;
    opacity: 0.5;
}

text.edge_label_hl {
    text-decoration: underline;
}

text.node_label {
    fill: black;
    font-size: 10px;
    text-anchor: middle;
}

text.node_label_uri{
    fill: white;
    font-size: 10px;
    font-weight: bold;
    text-anchor: start;
}

text.node_label_sparql {
    font-size: 12px;
    text-anchor: middle;
}

text.sparql_var {
    fill: #1680c4;
}

text.sparql_const {
    fill: #48a878;
}

text.sparql_const_literal {
    fill: #b86f48;
}

text.sparql_path, text.sparql_blank{
    fill: #b286bd;
}

text.eve_hover {
    fill: #287ed4;
}

text.eve_hover_inverse {
    fill: #9953b8;
}

path.arrow_a{
    fill: #cccccc;
}

path.arrow_b{
    fill: #aaaaaa;
}

path.arrow_c{
    fill: #888888;
}

path.arrow_d{
    fill: #666666;
}

pah.arrow_e{
    fill: #444444;
}

path.arrow_red{
    fill: #de2c47;
}

path.edge {
    stroke-width: 3;
    fill: none;
}

path.edge_a{
    stroke: #cccccc;
}

path.edge_b{
    stroke: #aaaaaa;
}

path.edge_c{
    stroke: #888888;
}

path.edge_d{
    stroke: #666666;
}

path.edge_e{
    stroke: #444444;
}

path.edge_red{
    stroke: #de2c47;
}

pre#query_dummy {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size:14px;
    line-height: 20px;
    width: 100%;
}

rect.node {
    stroke: black;
    stroke-width: 1px;
    opacity: 1;
    width: 160px;
    height: 40px;
    x: -80px;
    y: -20px;
    rx: 6px;
    ry: 6px;
}

rect.literal_type_box {
    stroke: none;
    fill: black;
    opacity: 0.6;
    width: 160px;
    height: 16px;
}

rect.literal_type_box_l {
    stroke: none;
    fill: black;
    opacity: 0.3;
    width: 160px;
    height: 16px;
}

text.literal_type {
    stroke: none;
    fill: white;
    opacity: 0.8;
    font-size: 10px;
    font-weight: bold;
    text-anchor: end;
}

rect.node_class {
    fill: #fff4c3;
}

rect.node_uri {
    fill: #ffce9f;
}

rect.node_literal {
    fill: #f8cecc;
    rx: 0px;
    ry: 0px;
}

rect.node_bnode {
    /* fill: #dfdfdf; */
    fill: #f2f2e9;
    stroke-dasharray: 6 6;
    rx: 20px;
    ry: 20px;
}

rect.node_class_l {
    fill: #fffbe0;
}

rect.node_uri_l {
    fill: #ffead1;
}

rect.node_literal_l {
    fill: #feeae8;
    rx: 0px;
    ry: 0px;
}

rect.node_bnode_l {
 /*   fill: #f4f4f4; */
    fill: #fcfcfa;
    stroke-dasharray: 6 6;
}

rect.node_red {
    stroke-width: 4px;
    stroke: #de2c47;
}

rect.sparql_node_rect {
    fill: white;
    stroke-width: 4px;
    width: 160px;
    height: 20px;
    x: -80px;
    y: 24px;
    rx: 6px;
    ry: 6px;
}

rect.hover {
    stroke: #287ed4;
    stroke-width: 4px;
}

rect.hover_inverse {
    stroke: #9953b8;
    stroke-width: 4px;
}

rect.hover_sparql {
    stroke: #25b5ba;
    stroke-width: 4px;
}

rect.sparql_var {
    stroke: #1680c4;
    stroke-width: 3px;
}

rect.sparql_const {
    stroke: #48a878;
    stroke-width: 3px;
}

rect.sparql_const_literal {
    stroke: #b86f48;
    stroke-width: 3px;
}

rect.sparql_path, rect.sparql_blank{
    stroke: #b286bd;
    stroke-width: 3px;
}

#query_dummy .sparql_var {
    color: #1680c4;
}

#query_dummy .sparql_const, .sparql_uri {
    color: #48a878;
}

#query_dummy .sparql_const_literal {
    color: #b86f48;
}
#query_dummy .sparql_blank {
    color: #b286bd;
}
#query_dummy .sparql_prefix {
    color: #db7d25;
}

div.nodemenu {
    background-color: white;
    border: solid 1px black;
    max-height: 200px;
    overflow: auto;
}

ul.nodemenu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li.nodemenu {
    cursor: pointer;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
}

li.nodemenu:hover {
    background-color: #dddddd;
}

li.nodemenu_off {
    color: #bbbbbb;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
}

span:focus {
    outline: none;
    background: linear-gradient(transparent 60%, #cce0f3 50%);
}
</style>

<div id="renderDiv"></div>
